In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('AirQualityodisha.csv',delimiter=',')
df

,Stn Code,Sampling Date,State,City,Location of Monitoring Station,Agency,Type of Location,SO2,NO2,RSPM/PM10,PM 2.5
0,68,02-01-15,Odisha,Talcher,"T.T.P.S.Colony, Talcher",Odisha State Pollution Control Board,Industrial Area,11,24,143,102.0
1,68,06-01-15,Odisha,Talcher,"T.T.P.S.Colony, Talcher",Odisha State Pollution Control Board,Industrial Area,10,23,133,96.0
2,68,09-01-15,Odisha,Talcher,"T.T.P.S.Colony, Talcher",Odisha State Pollution Control Board,Industrial Area,8,25,125,116.0
3,68,13-01-15,Odisha,Talcher,"T.T.P.S.Colony, Talcher",Odisha State Pollution Control Board,Industrial Area,10,25,137,107.0
4,68,16-01-15,Odisha,Talcher,"T.T.P.S.Colony, Talcher",Odisha State Pollution Control Board,Industrial Area,9,26,186,118.0
...,...,...,...,...,...,...,...,...,...,...,...
2387,819,15-12-15,Odisha,Kalinga Nagar,Roof of RO OFFICE BUILDING,Odisha State Pollution Control Board,Industrial Area,2,10,92,35.0
2388,819,17-12-15,Odisha,Kalinga Nagar,Roof of RO OFFICE BUILDING,Odisha State Pollution Control Board,Industrial Area,2,10,99,40.0
2389,819,22-12-15,Odisha,Kalinga Nagar,Roof of RO OFFICE BUILDING,Odisha State Pollution Control Board,Industrial Area,2,10,90,38.0
2390,819,26-12-15,Odisha,Kalinga Nagar,Roof of RO OFFICE BUILDING,Odisha State Pollution Control Board,Industrial Area,2,10,97,39.0
2391,819,29-12-15,Odisha,Kalinga Nagar,Roof of RO OFFICE BUILDING,Odisha State Pollution Control Board,Industrial Area,2,10,98,39.0

In [3]:
df.describe

<bound method NDFrame.describe of       Stn Code Sampling Date   State           City  \
0           68      02-01-15  Odisha        Talcher
1           68      06-01-15  Odisha        Talcher
2           68      09-01-15  Odisha        Talcher
3           68      13-01-15  Odisha        Talcher
4           68      16-01-15  Odisha        Talcher
...        ...           ...     ...            ...
2387       819      15-12-15  Odisha  Kalinga Nagar
2388       819      17-12-15  Odisha  Kalinga Nagar
2389       819      22-12-15  Odisha  Kalinga Nagar
2390       819      26-12-15  Odisha  Kalinga Nagar
2391       819      29-12-15  Odisha  Kalinga Nagar

     Location of Monitoring Station                                Agency  \
0           T.T.P.S.Colony, Talcher  Odisha State Pollution Control Board
1           T.T.P.S.Colony, Talcher  Odisha State Pollution Control Board
2           T.T.P.S.Colony, Talcher  Odisha State Pollution Control Board
3           T.T.P.S.Colony, Talcher  Odisha State Pollution Control Board
4           T.T.P.S.Colony, Talcher  Odisha State Pollution Control Board
...                             ...                                   ...
2387     Roof of RO OFFICE BUILDING  Odisha State Pollution Control Board
2388     Roof of RO OFFICE BUILDING  Odisha State Pollution Control Board
2389     Roof of RO OFFICE BUILDING  Odisha State Pollution Control Board
2390     Roof of RO OFFICE BUILDING  Odisha State Pollution Control Board
2391     Roof of RO OFFICE BUILDING  Odisha State Pollution Control Board

     Type of Location  SO2  NO2  RSPM/PM10  PM 2.5
0     Industrial Area   11   24        143   102.0
1     Industrial Area   10   23        133    96.0
2     Industrial Area    8   25        125   116.0
3     Industrial Area   10   25        137   107.0
4     Industrial Area    9   26        186   118.0
...               ...  ...  ...        ...     ...
2387  Industrial Area    2   10         92    35.0
2388  Industrial Area    2   10         99    40.0
2389  Industrial Area    2   10         90    38.0
2390  Industrial Area    2   10         97    39.0
2391  Industrial Area    2   10         98    39.0

[2392 rows x 11 columns]>

In [4]:
df.columns

Index(['Stn Code', 'Sampling Date', 'State', 'City',
       'Location of Monitoring Station', 'Agency', 'Type of Location', 'SO2',
       'NO2', 'RSPM/PM10', 'PM 2.5'],
      dtype='object')

In [5]:
df.shape

(2392, 11)

In [6]:
#i) Data Cleaning ii)  Data Transformation

df.isnull().sum()

Stn Code                            0
Sampling Date                       0
State                               0
City                                0
Location of Monitoring Station      0
Agency                              0
Type of Location                    0
SO2                                 0
NO2                                 0
RSPM/PM10                           0
PM 2.5                            332
dtype: int64

In [7]:
med=df['PM 2.5'].mean()
newdf=df['PM 2.5'].fillna(med)

print(newdf.isnull().sum())

0

In [8]:
med

42.47281553398058

In [9]:
#!pip install mysql-connector-python

In [10]:
#Data integration
import mysql.connector as con

ModuleNotFoundError: No module named 'mysql'

In [11]:
try:
    mydb=con.connect(host='localhost',user='root',passwd='mysql123')
    print(mydb.is_connected())
    mydb.close()
except Exception as e:
    print(str(e))

name 'con' is not defined

In [33]:
try:
    mydb=con.connect(host='localhost',user='root',passwd='mysql123')
    print(mydb.is_connected())
    cursor=mydb.cursor() # cursor object is used to execute the SQL queries , it creates the pointer
    query="show databases"
    cursor.execute(query)
    print(cursor.fetchall())
    mydb.close()
except Exception as e:
    print(str(e))

name 'con' is not defined

In [34]:
query='create table testin.demotab(rollno int(10),name VARCHAR(10), addr VARCHAR(50),section VARCHAR(10))'
mydb=con.connect(host='localhost',user='root',passwd='mysql123')
print(mydb.is_connected())
cursor=mydb.cursor()
cursor.execute(query)

NameError: name 'con' is not defined

In [35]:
try:
    mydb=con.connect(host='localhost',user='root',passwd='mysql123')
    print(mydb.is_connected())
    cursor=mydb.cursor() # cursor object is used to execute the SQL queries , it creates the pointer
    query1="use testin"
    cursor.execute(query1)
    query2="show tables"
    cursor.execute(query2)
    print(cursor.fetchall())
    mydb.close()
except Exception as e:
    print(str(e))

name 'con' is not defined

In [36]:
try:
    mydb=con.connect(host='localhost',database='newglass',user='root',passwd='mysql123')
    print(mydb.is_connected())
    cursor=mydb.cursor() 
    query2="show databases"
    cursor.execute(query2)
    print(cursor.fetchall())
    mydb.close()
except Exception as e:
    print(str(e))

name 'con' is not defined

In [37]:
import mysql.connector as conn
import pandas as pd
import csv
try:
    mydb=conn.connect(host='localhost',user='root',passwd='mysql123',use_pure=True)
    print(mydb.is_connected())
    #query="create database glassdata1"
    #cursor=mydb.cursor()
    #cursor.execute(query)
    #print("Database created")
    mydb.close()
    mydb=conn.connect(host="localhost",database='newglass',user='root',passwd='mysql123',use_pure=True)
    query="create table if not exists glassdata11 (index_number INT(10),RI float (10,5),Na float(10,5),Mg float(10,5),Al float(10,5),Si float(10,5),K float(10,5),Ca float(10,5),Ba float(10,5),Fe float(10,5),Class int(10))"
    
    cursor=mydb.cursor()
    cursor.execute(query)
    print('table created')
    #load the data from file to database 
    with open('glass.data',"r") as f:
        next(f)
        glass_data=csv.reader(f,delimiter="\n")
        print(type(glass_data))
        for line in enumerate(glass_data):
            print(line)
            for list_ in (line[1]):
                print(list_)
                cursor.execute('insert into glassdata11 values ({values})'.format(values=list_))
        print("values inserted")
        mydb.commit()
        cursor.close()
        mydb.close()
except Exception as e:
    print(str(e))

ModuleNotFoundError: No module named 'mysql'

In [38]:
import mysql.connector as con
import pandas as pd
try:
    mydb=con.connect(host='localhost',database='newglass',user='root',passwd='mysql123',use_pure=True)
    cursor=mydb.cursor()
    query1="use newglass"
    cursor.execute(query1)
    query="select * from glassdata11;"
        
    dataframe_result=pd.read_sql(query,mydb)
    print(dataframe_result)
    #mydb.close()
except Exception as e:
    print(str(e))

ModuleNotFoundError: No module named 'mysql'

In [39]:
import mysql.connector as con
import pandas as pd
try:
    mydb=con.connect(host='localhost',database='newglass',user='root',passwd='mysql123',use_pure=True)
    cursor=mydb.cursor()
    query1="use newglass"
    cursor.execute(query1)
    query="select Si,Count(Si),Class from newglass.glassdata11 group by Class order by Si;"

    dataframe_result=pd.read_sql(query,mydb)
    print(dataframe_result)
    #mydb.close()
except Exception as e:
    print(str(e))

ModuleNotFoundError: No module named 'mysql'

In [40]:
import sqlite3

In [41]:
db=sqlite3.connect('sample.db')

In [42]:
c=db.cursor()

In [43]:
c.execute('create table company1(id int,name text, age int,addr text,salary real)')

OperationalError: table company1 already exists

In [44]:
c.execute("insert into company1 values(1,'vsk',40,'sfdsf',90000)")

OperationalError: database is locked

In [ ]:
c.execute("insert into company1 values(2,'vsk2',32,'sfdsf',93000)")

In [ ]:
data=c.execute("select * from company1")

In [ ]:
for record in data:
    print(record)

In [21]:
#error correction
#import pandas as pd
df=pd.read_csv('AirQualityodisha.csv',delimiter=',')
df_wna = df.dropna(subset=['PM 2.5'])
x=df['PM 2.5'].isnull().sum()
print("Total number of null values "+ str(x))

Total number of null values 332

In [35]:
df

,Stn Code,Sampling Date,State,City,Location of Monitoring Station,Agency,Type of Location,SO2,NO2,RSPM/PM10,PM 2.5
0,68,02-01-15,Odisha,Talcher,"T.T.P.S.Colony, Talcher",Odisha State Pollution Control Board,Industrial Area,11,24,143,102.0
1,68,06-01-15,Odisha,Talcher,"T.T.P.S.Colony, Talcher",Odisha State Pollution Control Board,Industrial Area,10,23,133,96.0
2,68,09-01-15,Odisha,Talcher,"T.T.P.S.Colony, Talcher",Odisha State Pollution Control Board,Industrial Area,8,25,125,116.0
3,68,13-01-15,Odisha,Talcher,"T.T.P.S.Colony, Talcher",Odisha State Pollution Control Board,Industrial Area,10,25,137,107.0
4,68,16-01-15,Odisha,Talcher,"T.T.P.S.Colony, Talcher",Odisha State Pollution Control Board,Industrial Area,9,26,186,118.0
...,...,...,...,...,...,...,...,...,...,...,...
2387,819,15-12-15,Odisha,Kalinga Nagar,Roof of RO OFFICE BUILDING,Odisha State Pollution Control Board,Industrial Area,2,10,92,35.0
2388,819,17-12-15,Odisha,Kalinga Nagar,Roof of RO OFFICE BUILDING,Odisha State Pollution Control Board,Industrial Area,2,10,99,40.0
2389,819,22-12-15,Odisha,Kalinga Nagar,Roof of RO OFFICE BUILDING,Odisha State Pollution Control Board,Industrial Area,2,10,90,38.0
2390,819,26-12-15,Odisha,Kalinga Nagar,Roof of RO OFFICE BUILDING,Odisha State Pollution Control Board,Industrial Area,2,10,97,39.0
2391,819,29-12-15,Odisha,Kalinga Nagar,Roof of RO OFFICE BUILDING,Odisha State Pollution Control Board,Industrial Area,2,10,98,39.0

In [36]:
x=df_wna['PM 2.5'].isnull().sum()
print("Total number of null values "+ str(x))

Total number of null values 0

In [37]:
df.columns

Index(['Stn Code', 'Sampling Date', 'State', 'City',
       'Location of Monitoring Station', 'Agency', 'Type of Location', 'SO2',
       'NO2', 'RSPM/PM10', 'PM 2.5'],
      dtype='object')

In [38]:
df['so2_total']=df.groupby('City')['SO2'].transform('sum')

In [39]:
df.columns

Index(['Stn Code', 'Sampling Date', 'State', 'City',
       'Location of Monitoring Station', 'Agency', 'Type of Location', 'SO2',
       'NO2', 'RSPM/PM10', 'PM 2.5', 'so2_total'],
      dtype='object')

In [40]:
df

,Stn Code,Sampling Date,State,City,Location of Monitoring Station,Agency,Type of Location,SO2,NO2,RSPM/PM10,PM 2.5,so2_total
0,68,02-01-15,Odisha,Talcher,"T.T.P.S.Colony, Talcher",Odisha State Pollution Control Board,Industrial Area,11,24,143,102.0,1039
1,68,06-01-15,Odisha,Talcher,"T.T.P.S.Colony, Talcher",Odisha State Pollution Control Board,Industrial Area,10,23,133,96.0,1039
2,68,09-01-15,Odisha,Talcher,"T.T.P.S.Colony, Talcher",Odisha State Pollution Control Board,Industrial Area,8,25,125,116.0,1039
3,68,13-01-15,Odisha,Talcher,"T.T.P.S.Colony, Talcher",Odisha State Pollution Control Board,Industrial Area,10,25,137,107.0,1039
4,68,16-01-15,Odisha,Talcher,"T.T.P.S.Colony, Talcher",Odisha State Pollution Control Board,Industrial Area,9,26,186,118.0,1039
...,...,...,...,...,...,...,...,...,...,...,...,...
2387,819,15-12-15,Odisha,Kalinga Nagar,Roof of RO OFFICE BUILDING,Odisha State Pollution Control Board,Industrial Area,2,10,92,35.0,615
2388,819,17-12-15,Odisha,Kalinga Nagar,Roof of RO OFFICE BUILDING,Odisha State Pollution Control Board,Industrial Area,2,10,99,40.0,615
2389,819,22-12-15,Odisha,Kalinga Nagar,Roof of RO OFFICE BUILDING,Odisha State Pollution Control Board,Industrial Area,2,10,90,38.0,615
2390,819,26-12-15,Odisha,Kalinga Nagar,Roof of RO OFFICE BUILDING,Odisha State Pollution Control Board,Industrial Area,2,10,97,39.0,615
2391,819,29-12-15,Odisha,Kalinga Nagar,Roof of RO OFFICE BUILDING,Odisha State Pollution Control Board,Industrial Area,2,10,98,39.0,615